[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
grpcio-tools = "*"
redis = "*"
grpcio-reflection = "*"
pytest = "*"
pytest-grpc = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
